@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-protest-revolution: var(--font-protest-revolution);
  --font-cinzel-decorative: var(--font-cinzel-decorative);
  --font-cinzel: var(--font-cinzel);
  --color-border: var(--border);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
}

:root {
  --background: #150b0c;
  --foreground: #ede6e4;
  --primary: #c22436;
  --muted-foreground: #cec4c3;
  --border: #3a2224;
}

@layer base {
  * {
    @apply border-border outline-primary/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  html::-webkit-scrollbar {
    display: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-protest-revolution tracking-wider text-foreground;
  }
}
