@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --font-display: var(--font-display);
  --font-brush: var(--font-brush);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
}

:root {
  --background: #150b0c;
  --foreground: #ede6e4;
  --primary: #c22436;
  --muted-foreground: #a3908e;
  --border: #3a2224;
  --ring: #c22436;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-heading tracking-wide;
  }
}
